<!--
  Generated template for the TossCupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Touiller la tasse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="activateToss()">Activer</button>
  <button ion-button (click)="desactivateToss()">Desactiver</button>
</ion-content>
