<ion-header>
  <ion-navbar>
    <ion-title>
      Menu Principal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>
    Température
  </ion-title>
  <p>{{temp}} C.</p>
  <ion-title>
    Touillette
  </ion-title>
  <button ion-button (click)="activateToss()">Activer</button>
  <button ion-button (click)="desactivateToss()">Desactiver</button>
</ion-content>
