<!--
  Generated template for the DisplayTemperaturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Affichage de la température</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{temp}} C.</p>
</ion-content>
