<ion-header>
  <ion-navbar>
    <ion-title>
      Connexion à TTime
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="onGoToConnection()">Se connecter</button>
</ion-content>
